<div class="header">

	<span class="logo"><a href="/">
		<img src="http://static.broken-mirror.net/images/logotype.png" height="29px" width="247px" alt="broken-mirror.net"/></a>
	</span>
	<p>&nbsp;</p>
</div>

<div class="wrapper">

<div class="sidebar">

<h3>Search</h3>
<div>
	<form action="http://www.google.com/cse" id="cse-search-box">
	<div>
		<input type="hidden" name="cx" value="002012617246989131416:poml4rqp3c0" />
		<input type="hidden" name="ie" value="UTF-8" />
		<input type="text" name="q" size="25" />
		<input type="submit" name="sa" value="Search" />
	</div>
	</form>
<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&amp;lang=en"></script>
<!-- <script src="http://www.gmodules.com/ig/ifr?url=http://www.google.com/cse/api/002012617246989131416/cse/poml4rqp3c0/gadget&amp;synd=open&amp;w=320&amp;h=75&amp;title=Broken+Mirror&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script> -->
</div>


<h3>Site Map</h3>

<div>
<div>
	<ul>
		<li><a href="/about.html" title="About">About Me</a></li>
		<li><a href="/games/" title="Games">Games</a></li>
		<li><a href="/school/" title="School">Schoolwork</a></li>
		<li><a href="/links.html" title="Links">Links</a></li>
		<li><a href="/contact.html" title="Contact">Contact Info</a></li>
	</ul>
</div>
</div>

</div>

<div class="content">

