<div class="header">

	<span class="logo"><a href="/">
		<img src="/images/logotype.png" height="41px" width="270px" alt="broken-mirror.net"/></a>
	</span>
	<p>&nbsp;</p>
</div>

<div class="wrapper">



<div class="sidebar">


<h3>Search</h3>
<div>
<script src="http://www.gmodules.com/ig/ifr?url=http://www.google.com/cse/api/002012617246989131416/cse/poml4rqp3c0/gadget&amp;synd=open&amp;w=320&amp;h=75&amp;title=Broken+Mirror&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>
</div>


<h3>Site Map</h3>

<div>
<div>
	<ul>
		<li><a href="/games/" title="Games">Games</a></li>
		<li><a href="/schoolwork/" title="Schoolwork">Schoolwork</a></li>
		<li><a href="/links.html" title="Links">Links</a></li>
	</ul>
</div>
</div>

</div>



